<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="astr" description="Stratego-Attributes" language="Stratego-Attributes" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.aster.StrategoAttributesValidator" validatorClass="org.strategoxt.imp.editors.aster.StrategoAttributesValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.aster.parser" name="Stratego-Attributes Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.aster.StrategoAttributesParseController" language="Stratego-Attributes">
          </parser>
       </extension>    
    </plugin>